<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="loginform.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            
        })
    </script>
</head>
<body>
    <div class="qlkh">Quên mật khẩu</div>
    <div class="form">
    <div style="opacity: 0.7;margin-bottom: 20px;margin-top: 15px;">Nhập email của bạn để lấy lại mật khẩu</div>
    <form action="">
        <input type="email" placeholder="Email" class="textbox">
        <div style="display: block;">
            <a href="/dangnhap" style="margin-top: 25px;float: left;margin-left: 10%;">Quay lại đăng nhập</a>
            <button type="submit" class="btn"><img src="/image/login.png" alt="" style="height: 20px;width: 20px;transform: translateY(5px);padding-right: 18px;"> Gửi</button>
        </div>
    </form>
    </div>
</body>
</html>