<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Kho Hàng</title>
    <link rel="stylesheet" href="trangchu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#optiondlsp").hide();
            $("#optionpnh").hide();
            $("#optionpxh").hide();
            $("#phieunhaphang").click(function(){
                $("#optionpnh").slideToggle("slow");
            });
            $("#dulieusanpham").click(function(){
                $("#optiondlsp").slideToggle("slow");
            });
            $("#phieuxuathang").click(function(){
                $("#optionpxh").slideToggle("slow");
            });
        });
        
        const nhacc = ["Hải Hà","Kinh Đô","Coca-Cola","Lotte"]
        const tensp = ["Chocopie","Coca Lon 390ml","Mì tôm Hảo Hảo"];
        
        window.onload = function(){
            var Sel  = document.getElementById('sanpham');
            tensp.forEach(x =>{
                Sel.options[Sel.options.length] = new Option (x,x)
            })
            var Sel  = document.getElementById('nhacc');
            nhacc.forEach(x =>{
                Sel.options[Sel.options.length] = new Option (x,x)
            })
        }
        var i = 0;
        function them(){
            var btn = document.createElement("TBODY");   
	        btn.innerHTML = `
                        <tr>
                        <td><select name="" id="sanpham${i}" class="textbox abc">
                        <option value="">Chọn sản phẩm</option>
                        </select>
                     </td>
                     <td><select id="nhacc${i}" class="textbox abc">
                        <option value="">Chọn nhà cung cấp</option>
                        </select>
                     </td>
                     <td><input type="text" class="textbox"></td>
                     <td><input type="text" class="textbox"></td>
                     <td><input type="text" class="textbox"></td>
                     <td><button style="background-color: rgb(17, 109, 109);border-radius: 2px;border: none;"><img src="/image/trash.png" alt=""></button></td>
                            </tr> `;                   
	        document.getElementById("add").appendChild(btn); 
            tensp.forEach( x => {
            var z = document.createElement("option");
            z.setAttribute("value", "volvocar");
            var t = document.createTextNode(x);
            z.appendChild(t);
            document.getElementById(`sanpham${i}`).appendChild(z);
            })
            nhacc.forEach( x => {
            var z = document.createElement("option");
            z.setAttribute("value", "volvocar");
            var t = document.createTextNode(x);
            z.appendChild(t);
            document.getElementById(`nhacc${i}`).appendChild(z);
            })
             i++;
        }
        console.log();
        
    </script>
</head>
<body>
    <header>
        <div>Quản Lý Bán Hàng</div>
        <a href="/dangnhap"><img src="/image/out.png" style="float: right;transform: translateY(-10px);margin-right: 10px;"></a>        
    </header>
    <div class="left">
        <div class="but" style="margin-top:30px"><img src="/image/home1.png" class="imagebut" > <a href="/trangchu">Trang chủ</a> </div>
        <p>THIẾT LẬP DỮ LIỆU</p>
        <div class="but" id="dulieusanpham"><img src="/image/database.png" class="imagebut" >Dữ liệu sản phẩm</div>
        <div id="optiondlsp" class="list">
            <li><a href="/loaisanpham">Loại hàng</a></li>
            <li><a href="/donvitinh">Đơn vị tính</a></li>
            <li><a href="/sanpham">Sản phẩm</a></li>
        </div>
        <div class="but"><img src="/image/factory.png" class="imagebut"><a href="/nhacc">Nhà cung cấp</a></div>
        <p>DỮ LIỆU NHẬP XUẤT</p>
        <div class="but" id="phieunhaphang"><img src="/image/log-in.png" class="imagebut">Phiếu nhập hàng</div>
        <div id="optionpnh" class="list">
            <li><a href="/nhaphang">Nhập hàng</a></li>
            <li><a href="/sanphamdanhap">Sản phẩm đã nhập</a></li>
        </div>
        <div class="but" id="phieuxuathang"><img src="/image/logout.png" class="imagebut">Phiếu xuất hàng</div>
        <div id="optionpxh" class="list">
            <li><a href="/xuathang">Xuất hàng</a></li>
            <li><a href="/sanphamdaxuat">Sản phẩm đã xuất</a></li>
        </div>
        <div class="but"><img src="/image/warehouse.png" class="imagebut"><a href="/dulieukho">Dữ liệu kho hàng</a></div>
        <P>BÁO CÁO THỐNG KÊ</P>
        <div class="but"><img src="/image/pie-chart.png" class="imagebut"><a href="/tknhapxuat">Thống kê nhập xuất</a></div>
        <div class="but"><img src="/image/statistics.png" class="imagebut"><a href="/tktonkho">Thống kê tồn kho</a></div>
        <P>THÔNG TIN QUẢN TRỊ</P>
        <div class="but"><img src="/image/key.png" class="imagebut"><a href="/doimatkhau">Đổi mật khẩu</a></div>
    </div>
    <div class="frame">
        <div class="inside">
            <div style="font-size: 30px;margin-bottom: 30px;">Phiếu nhập hàng</div>
           
            <div>Nội dung nhập hàng</div>
            <input type="text" class="textbox">
            <div>Ghi chú</div>
            <input type="text" class="textbox" >
            <table id="add" class="bang">
                <tr>
                    <th>Sản phẩm</th>
                    <th>Nhà cung cấp</th>
                    <th>Số lượng</th>
                    <th>HSD</th>
                    <th>Xóa</th>
                </tr>
                <tr>
                    <td><select name="sanpham" id="sanpham" class="textbox abc">
                        <option value="">Chọn sản phẩm</option>
                        </select>
                     </td>
                     <td><select name="nhacc" id="nhacc" class="textbox abc">
                        <option value="">Chọn nhà cung cấp</option>
                        </select>
                     </td>
                     <td><input type="text" class="textbox"></td>
                     <td><input type="date" class="textbox"></td>
                     <td><button style="background-color: rgb(17, 109, 109);border-radius: 2px;border: none;"><img src="/image/trash.png" alt=""></button></td>
                </tr>
                
                
            </table>
            <button class="submit" style="width: 120px">
                <a href="/nhaphang">Thêm đơn nhập</a></button>
            <button class="submit" style="background-color: rgb(0, 107, 66);width: 200px;" id="themoisanpham" onclick="them()">
               Thêm mới sản phẩm
            </button>
        
        </div>
        
    </div>
</body>
</html>